.mainbody{
  background-color: azure;
  }
  .nav-links1 {
    
    background-color: blue;
  color: bisque;
  
    list-style: none;
   
    overflow: hidden;
    width: 1100px;
   
    margin:3px;
    padding: 0;
  }
  
  .nav-links > li {
  
    float: left;
    width: 16%;
    list-style-type: none;
  
    color: rgb(253, 8, 8);
    background-color: rgb(73, 4, 248);
    font-size: 2rem;
    margin:1px;
  }
  .nav-links a {
    
    text-decoration: none;
    list-style-type: none;
    display: block;
    width: 100%;
       
        text-align: center;
        
        padding: 5px 0;
        color: rgb(247, 212, 17);
        font-weight: bold;
        border: 2px sold gold;
      }
  
      .nav-links a:hover {
        background-color: red;
      }